@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
}
.glow-text {
  text-shadow: 0 0 20px rgba(0, 150, 255, 1), 
               0 0 40px rgba(0, 150, 255, 1),
               0 0 60px rgba(0, 150, 255, 1),
               0 0 80px rgba(0, 150, 255, 1);
}

.glow-tabs {
  text-shadow: 0 0 20px rgba(15, 97, 12, 0.5), 
               0 0 20px rgba(25, 94, 7, 1),
               0 0 60px rgba(25, 94, 7, 1),
               0 0 80px rgba(25, 94, 7, 1);
}

@keyframes flash {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.flash-green {
  animation: flash 5s linear infinite; /* Adjust the duration as needed */
  background-image: linear-gradient(to right, transparent, #107e57, transparent);
  background-size: 200% 100%;
  background-position: -100% 0;
}
.square {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: None;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  border: 2px solid green;
  border-radius: 40px


}


.circle {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: None;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
 
}


.text {
  padding-top: 20px;
  text-align: center;
  margin-top: 15px;
  margin-left: 150px;
}
.container {
  position: center;
  width: 100%; /* Adjust as needed */
  height: 100vh; /* Adjust as needed */
}

.pomo_cont {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: -170px;
  margin-top: -200px;
}

.item {
  font-size: 16px;
  font-weight: bold;
  margin: 0 30px; /* Adjust spacing between items */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 80%;
  
}

.pomodoro {
  font-size: 4em;
  padding-top: 20px;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}