@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
}
.glow-text {
  text-shadow: 0 0 20px rgba(0, 150, 255, 1), 
               0 0 40px rgba(0, 150, 255, 1),
               0 0 60px rgba(0, 150, 255, 1),
               0 0 80px rgba(0, 150, 255, 1);
}

.glow-tabs {
  text-shadow: 0 0 20px rgba(15, 97, 12, 0.5), 
               0 0 20px rgba(25, 94, 7, 1),
               0 0 60px rgba(25, 94, 7, 1),
               0 0 80px rgba(25, 94, 7, 1);
}

@keyframes flash {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.flash-green {
  animation: flash 5s linear infinite; /* Adjust the duration as needed */
  background-image: linear-gradient(to right, transparent, #800892, transparent);
  background-size: 200% 100%;
  background-position: -100% 0;
}
